---
import Container from "@/components/layouts/container.astro";
import SectionHeader from "@/components/layouts/section-header.astro";
---

<section id="about">
    <Container>
        <SectionHeader label="A little" title="About Me."/>
    </Container>
</section>