---
import Container from "@/components/layouts/container.astro";
import SectionHeader from "@/components/layouts/section-header.astro";
---

<section id="contact">
    <Container>
        <SectionHeader label="Interested?" title="Get In Touch."/>
    </Container>
</section>