---
import Container from "@/components/layouts/container.astro";
import { buttonVariants } from "@/components/ui/button";
import { ImageIcon, MailIcon } from "lucide-react";

---

<section>
    <Container>
        <div>
            <h1>Isaac Aguilar</h1>
            <p class="lead">Lorem ipsum</p>
        </div>

        <a href="#projects" class={buttonVariants()}>
            <ImageIcon />
            <span>My Projects</span>
        </a>

        <a href="#contact" class={buttonVariants({ variant: "outline"})}>
            <MailIcon />
            <span>Contact Me</span>
        </a>
    </Container>
</section>