---
import PageLayout from '@/layouts/page-layout.astro';

const title = "Isaac Aguilar | Software Engineer & Full Stack Developer"
const description = ""
---

<PageLayout title={title} description={description}>
	<div>Home</div>
</PageLayout>
