---
import PageLayout from '@/layouts/page-layout.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map(project => ({
    params: { id: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<PageLayout title={project.data.title} description={project.data.description}>
  <h1>{project.data.title}</h1>
  <Content />
</PageLayout>
