---
import BaseLayout from '@/layouts/base-layout.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map(project => ({
    params: { id: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);

const title = ""
const description = ""
---

<BaseLayout title={title} description={description}>
  <h1>{project.data.title}</h1>
  <Content />
</BaseLayout>
