---
import BaseLayout from '@/layouts/base-layout.astro';

const title = ""
const description = ""
---

<BaseLayout title={title} description={description}>
    <div>ERROR LAYOUT</div>
    <slot />
</BaseLayout>